<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>列表页</title>
</head>
<body>
    <ul>
        {% for book in booklist %}

            <li>
                <a href="{% url 'booktest:detail' book.id %}">{{book.btitle}}</a><a href="{% url 'booktest:delete' book.id %}">删除</a>
                <a href="{% url 'booktest:addhero' book.id%}">添加角色</a>
            </li>
        {% empty %}
            <span>暂时没有图书信息</span>
        {% endfor %}

        <a href="{% url 'booktest:index' %}">返回首页</a>
    </ul>
</body>
</html>